<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="stylesheet/less" type="text/css" href=".\_css\style.less" />
        <meta charset="utf-8">
        <title>LESS</title>
    </head>
    <body>
        <h1>Less</h1>
        <a href="/">Home</a>
        <a href="/exercicio1">Exercício 1</a>
        <a href="/historia">História</a>
        <p>
            <b>Lorem Ipsum</b>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet massa feugiat, ornare lacus at, tempus massa. Sed vel dolor sed nisl tincidunt iaculis sed a purus. Vestibulum pretium ante vel augue fringilla, accumsan convallis augue pulvinar. Nam vitae quam nunc. Proin at sem consequat, tincidunt libero nec, scelerisque felis. Aenean mattis ligula diam, non venenatis nibh dignissim id. Quisque luctus mauris dui, id tincidunt turpis tristique eu. Quisque semper, erat in posuere laoreet, arcu velit pulvinar ex, non hendrerit erat augue rutrum nisl. Integer ut libero quam. Aliquam eros urna, rhoncus eget vulputate id, mollis eu risus
        </p>
        </br>
        <div id="div-1">
            <b>Div 1</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet massa feugiat, ornare lacus at, tempus massa.
        </div>
    </br>
        <div id="div-2">
            <b>Div 2</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet massa feugiat, ornare lacus at, tempus massa.
        </div>
    </br>
        <div id="div-3">
            <b>Div 3</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet massa feugiat, ornare lacus at, tempus massa.
        </div>
    </br>
        <script src="https://cdn.jsdelivr.net/npm/less" ></script>
        <script>
            less = {
                env: "development"
            };
        </script>
    </body>
</html>